:root {
  --bg-color: rgb(20, 20, 20);
  --nav-color:rgb(26, 26, 29); /* Palette 1*/
  --card-color: rgb(23,23,23);

  --palette1: rgb(26, 26, 29);
  --palette2:  rgb(78, 78, 80);
  --palette3: rgb(111, 34, 50);
  --palette4: rgb(149, 7, 64);
  --palette5: rgb(195, 7, 63);
}

html {
  font-family: 'Oswald', sans-serif;
  font-family: 'Victor Mono', monospace;
}

h1 {
  color: white;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 100px;
  text-align: center;
}

p,
li,
a {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1.5px;

  color: white;
}

img {
  width: 50px;
  display: block;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-color);

}

/* CARDS */
.card /* Wrapper */
{
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 260px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
}

.card > .card-content
{
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card::before,
.card::after
{
  border-radius: inherit; /* Same radius as the parent */
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 2;
}

.card::before
{
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after 
{  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(195, 7, 63, 1.0),
    transparent 40%
  );
  z-index: 1;
}

.card:hover::before
{
  opacity: 1;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

/* FOOTER */
footer {
  --above-all-in-container: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.p-footer {
  font-size: 10px;
}

/* NAVIGATION */
nav {
  --above-all-in-container: 10000;
  position: fixed !important;
  height: 50px;
  width: 100%;
  margin-left: 0;
  left: 0;
  top: 0;
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  /* Center the items vertically */
}

nav li {
  display: inline;
  margin-right: 5%;
}


.nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /* Align items to the right */
  align-items: center;
}

.nav-left {
  padding-right: 0;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  /* Align items to the left */
  align-items: center;

  margin-right: 0;
}


nav a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  /* Add a transition effect on the color property */
}

nav a:hover {
  color: var(--palette5);
  /* Change the color to the desired hover color */
}

/* VIDEOS */
.video-container 
{
  position: relative;
  height: 100vh;
  /* Adjust as needed */
  overflow: hidden;
  flex:1;
}

video 
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* ARTICLE */
article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Center vertically */
}

.presentation {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* Center vertically */
  text-align: left;
  height: 70vh;
  margin-left: 5%;
  margin-right: 25%;
}

.presentation img {
  width: 250px;
  margin-right: 20px;
  /* Add margin to the right of the image */
}

.presentation-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.presentation h2 {
  margin-bottom: 10px;
  /* Add margin below the h2 */
}



/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) 
{
  body 
  {
    align-items: center;  
    overflow: auto;
  }
  
  #cards 
  {    
    max-width: 1000px;
    padding: 10px 0px;
  }
  
  .card 
  {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) 
{
  .card 
  {
    height: 180px;
  }
}

@media(max-width: 320px) 
{
  .card 
  {
    width: 100%;
  }
}