:root {
  --bg-color: rgb(20, 20, 20);
  --nav-color:rgb(26, 26, 29); /* Palette 1*/
  --card-color: rgb(23,23,23);

  --palette1: rgb(26, 26, 29);
  --palette2:  rgb(78, 78, 80);
  --palette3: rgb(111, 34, 50);
  --palette4: rgb(149, 7, 64);
  --palette5: rgb(195, 7, 63);
}

html {
  font-family: 'Oswald', sans-serif;
  font-family: 'Victor Mono', monospace;
}

h1 {
  color: white;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 100px;
  text-align: center;
}

p,
li,
a {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1.5px;

  color: white;
}

img {
  width: 50px;
  display: block;
}

/* BODY */
body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  
  /* align-items: center;
  justify-content: center; */
  
  overflow: hidden;
  background-color: var(--bg-color);
}

/* CARDS */
.card /* Wrapper */
{
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40vh;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.1);
}

.card:nth-child(1) 
{
  transform: translateY(-500px);
  animation: translateFromTopAnimation 1s forwards;
}

.card:nth-child(2) 
{
  transform: translateY(-500px);
  animation: translateFromTopAnimation 1s forwards 0.25s;
}

.card:nth-child(3) 
{
  transform: translateY(-500px);
  animation: translateFromTopAnimation 1s forwards 0.5s;
}

.card:nth-child(4) 
{
  transform: translateY(500px);
  animation: translateFromBottomAnimation 1s forwards;
}

.card:nth-child(5) 
{
  transform: translateY(500px);
  animation: translateFromBottomAnimation 1s forwards 0.25s;
}

.card:nth-child(6) 
{
  transform: translateY(500px);
  animation: translateFromBottomAnimation 1s forwards 0.5s;
}



@keyframes translateFromTopAnimation 
{
  0% { transform: translateY(-500); }
  100% { transform: translateY(0); }
}

@keyframes translateFromBottomAnimation 
{
  0% { transform: translateY(500); }
  100% { transform: translateY(0); }
}


.card > .card-content
{
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card::before,
.card::after
{
  border-radius: inherit; /* Same radius as the parent */
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 2;
}

.card::before
{
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after 
{  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(195, 7, 63, 1.0),
    transparent 40%
  );
  z-index: 1;
}

.card:hover::before
{
  opacity: 1;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 8px;

  max-width: 100%;
  margin-top:auto;

  margin-right: 5%;
  margin-left: 5%;
  z-index: 0;

  cursor: pointer;
}

#cards:hover > .card::after {
  opacity: 1;
}

/* FOOTER */
footer 
{
  width: 100%;
  box-sizing: border-box;

  text-align: center;
  color: white;
  margin-top:auto;

  z-index:10;
}

.p-footer {
  font-size: 10px;
}

/* NAVIGATION */
nav 
{
  height: 50px;
  width: 100%;

  left: 0;
  top: 0;
  /* background-color: var(--nav-color); */
  display: flex;

  justify-content: flex-start;
  align-items: center;

  z-index: 10;
}

nav li {
  display: inline;
  margin-right: 5%;
}


.nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  align-items: center;
}

.nav-left {
  padding-right: 0;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;

  margin-right: 0;
}


nav a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--palette5);
}

/* VIDEOS */
.video-container 
{
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0; 
  transition: opacity 2s ease-in-out; 
}

video 
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#playButton 
{
  position: absolute;
  border-radius: 10px; 
  border: 0px;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Oswald', sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkred;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  display: none;
}

.video-container.fade-in
{
  opacity: 1;
}

#playButton:hover
{
  background-color: rgb(206, 1, 1);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* PRESENTATION */
.presentation 
{
  color: white;

  display: flex;
  flex-direction: row;

  align-items: flex-start;
  text-align: left;

  padding-bottom: 5%;
  padding-left: 5%;
  margin-top: 75px;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 25px;

  opacity: 0; 
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn 
{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.presentation img 
{
  width: 250px;
  margin-right: 20px;
  margin-top:20px;
}

.presentation h2 
{
  color: var(--palette5);
  margin-bottom: 10px;
}

.presentation a 
{
  text-decoration: none;
  font-weight: bold;
  color: var(--palette5);
}

.presentation p
{
  line-height: 1.75; /* Adjust this value as needed */
}

.presentation a:hover
{
  color: var(--palette4);
}


/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media(max-width: 1000px) 
{
  #cards 
  {    
    max-width: 1000px;
    padding: 10px 0px;

    overflow: hidden;
  }
  
  .card 
  {
    flex-shrink: 1;
    width: calc(50% - 4px);
    height: 25vh;
  }

  .presentation
  {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-top: auto;
  }

  .presentation img
  {
    margin-top:0px;
  }

  body
  {
    overflow: scroll;
  }
}

@media(max-width: 500px) 
{
  .nav-left
  {
    display:none;
  }
}

@media(max-width: 360px) 
{
  .nav-right li
  {
    display: block;
  }
  .nav-right li:first-child 
  {
    display: none;
  }
}

@media(max-width: 320px) 
{
  .nav-left 
  {
    display: none;
  }
  
  .card
  {
    width: 100%;
  }

  body
  {
    overflow: scroll;
  }

  footer
  {
    display: none;
  }
}