html {
  font-size: 25px;
  font-family: 'Kalam', cursive;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px black;

  font-size: 60px;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px black;

  font-size: 25px;
  text-align: center;
}

p,
li,
a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;

  color: white;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}

body {
  background-color: #01211F;
}

footer {
  color: white;
  padding: 1%;
}

article {
  flex: 1;
  margin: 1%;
  padding: 1%;
  background-color: #011311;
}

aside {
  flex: 1;
  margin: 1%;
  padding: 1%;
  background-color: #011311;
}

aside li {
  padding-bottom: 10px;
}

nav 
{
  --above-all-in-container: 10000;
  position: fixed !important;
  height: 50px;
  width: 100%;
  margin-left: 0;
  left: 0;
  top:0;
  background-color: black;
  display: flex;
  align-items: center; /* Center the items vertically */
}

.nav-right
{
  display: flex;
  flex: 1;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center the items vertically */
}

.nav-left
{
  display: flex;
  flex: 1;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Center the items vertically */

  margin-left: 5%;
}

nav li 
{
  display: inline;
  margin-right: 10%;
}

nav a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}